{% extends 'base_page.html' %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/d3.v2.min.js"></script>
<script type="text/javascript" src="/static/js/aboutus.js"></script>
{% endblock extra_head %}

{% block content %}
<div class="hero-unit">
  <h1>About Us</h1>
  <p>So you want to know a little bit more about the creators of these
    projects, eh? Below, you'll find no less than a side-by-side comparison of
    Bob and Rob that covers a number of different aspects. Enjoy!
  </p>
</div>

<h1>Questionnaire</h1>
<div class="row">
	<div class="span4">
		<h4>What is your name?</h4>
	</div>
	<div class="span4">
	    <blockquote><p>
	      My full name?  I don't think so... how about we'll just stick with
		    Robert.
	    </p></blockquote>
	</div>
	<div class="span4">
	    <blockquote><p>
		    I mean... my first name is Robert, won't that do?  You don't really
		    need to know the whole thing, right?  Great.
	    </p></blockquote>
	</div>
</div>
{% endblock content %}


