{% extends 'base_page.html' %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/d3.v2.min.js"></script>
<script type="text/javascript" src="/static/js/aboutus.js"></script>
{% endblock extra_head %}

{% block content %}
<div class="hero-unit">
  <h1>About Us</h1>
  <p>So you want to know a little bit more about the creators of these 
projects, eh? Below, you'll find no less than a side-by-side comparison of 
Bob and Rob that covers a number of different aspects. Enjoy!
  </p>
</div>
<div id="d3_start">
</div>
{% endblock content %}


