{% extends 'base_page.html' %}

{% block content %}
<div class="hero-unit">
  <h1>About Us</h1>
  <p>So you want to know a little bit more about the creators of these 
projects, eh? Below, you'll find no less than a side-by-side comparison of 
Bob and Rob that covers a number of different aspects. Enjoy!
  </p>
</div>
<div class="row">
  <div class="span4 offset1">
    <h1>Bob</h1>
    <div class="row">
      <div class="span1">
        <p>Badge</p>
      </div>
      <div class="span3">
        <p>Sentence</p>
      </div>
    </div>
  </div>
  <div class="span2">
    <h1>v</h1>
  </div>
  <div class="span4">
    <h1>Rob</h1>
    <div class="row">
      <div class="span1">
        <p>Badge</p>
      </div>
      <div class="span3">
        <p>Sentence</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


