{% extends 'site_frame.html' %}

{% block extra_head %}
<style type="text/css">
html, body {
  min-height: 100%;
}
#footer {
  border-top: 2px solid #33B5E5;
  padding: .71em;
}
</style>
{% endblock extra_head %}

{% block header %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">therobert.gs</a>
      {% if menu_items %}
        <ul class="nav">
          {% for item in menu_items %}
            <li><a href="{{ item.href }}">{{ item.text }}</a></li>
          {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock header %}


{% block footer %}
<div class="footer">
  <p><a href="/">therobert.gs</a> was built on the shoulders of giants like 
<a href="http://www.djangoproject.com/" target="_blank">Django</a> and 
<a href="http://twitter.github.com/bootsrap/" target="_blank">Bootstrap</a>.
  </p>
</div>
{% endblock footer %}
