{% extends 'base_page.html' %}

{% block content %}
<div class="hero-unit">
    <h1>Hi!</h1>
    <p>We just wanted to say... well, let's just say there <strong>will</strong> be some rather intriguing content, We
        just need a little while to get things up and running, so bear with us! It'll be worth it - we promise!
    </p>
</div>
<div class="row">
    <div class="span6">
        <h1>What's Happening?</h1>
        <p>Here we would like to keep you up to speed on any current projects that may be going on right now. No matter
            whether it's a break through or a brick wall, you can read about how hard we hit it right here in this
            column!
        </p>
        {% if happening_posts %}
            <ul class="thumbnails">
                {% for post in happening_posts %}
                    <li class="span6">
                        <div class="thumbnail">
                            <div class="well">
                                <h3>{{ post.title }}</h3>
                                <div class="row">
                                    <div class="pull-left">
                                        <h4>{{ post.author }}</h4>
                                    </div>
                                    <div class="pull-left">
                                        <h6>{{ post.date|date:"D d M Y" }}</h6>
                                    </div>
                                </div>
                            </div>
                            <p>{{ post.content }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="span6">
        <h1>On the Horizon</h1>
    </div>
</div>
{% endblock content %}


