{% extends 'base_page.html' %}

{% block content %}
<div class="hero-unit">
  <h1>Hi!</h1>
  <p>We just wanted to say... well, let's just say there <strong>will</strong>
be some rather intriguing content, We just need a little while to get things up
and running, so bear with us! It'll be worth it - we promise!
  </p>
</div>
<div class="row">
  <div class="span6">
    <h1>What's Happening?</h1>
    <p>Here we would like to keep you up to speed on any current projects that
may be going on right now. No matter whether it's a break through or a brick
wall, you can read about how hard we hit it right here in this column!</p>
  </div>
  <div class="span6">
    <h1>On the Horizon</h1>
    <p>This section will be reserved for those special moments. That's right!
When we sit back on our couch and dream up everything from the ridiculous to 
the down right obvious to the simplistic beauty of a damn good idea, we'll let
you know about it right here!</p>
  </div>
</div>
{% endblock content %}


