{% extends 'base_page.html' %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/d3.v2.min.js"></script>
<script type="text/javascript" src="/static/js/aboutus.js"></script>
{% endblock extra_head %}

{% block content %}

<div class="hero-unit">
	<h1>Production Menu</h1>
</div>

<!-- Headers -->
<div class="row">
	<div class="span3 offset2">
		<h2>Task</h2>
	</div>
	<div class="span1">

	</div>
	<div class="span4">
		<h2>Result</h2>
	</div>
</div>

{% for task in tasks %}
		<div class="row">
			<div class="span3 offset2">
				<h4>{{ task.name }}</h4>
			</div>
			<div class="span1">
				<a class="btn btn-warning">Do it!</a>
			</div>
			<div class="span4">
				<h5><div class="well">Result output goes here.</div></h5>
			</div>
		</div>
{% endfor %}

{% endblock content %}